{% extends './navbar.html' %}
{% load static %}

{% block title %}Health Benefits of Mustard Oil | Why It's Good for You | Swet Barahai Tel Mill{% endblock %}

{% block content %}



<h2>Health Benefits of Mustard Oil</h2>
    <div class="about">
        <div class="about-image">
            <img src="{% static 'oil.jpg' %}" alt="Mustard Oil - A Natural and Healthy Choice for Your Health">
        </div>
        <div class="about-content">
            <h6>Why mustard oil is good for you ?</h6>
            <ul>
                <li><i class="fas fa-water"></i> Boosts energy and relieves fatigue.</li>
                <li><i class="fas fa-heart"></i> Promotes heart health.</li>
                <li><i class="fas fa-brain"></i> Enhances brain function and focus.</li>
                <li><i class="fas fa-leaf"></i> Rich in essential nutrients and antioxidants.</li>
                <li><i class="fas fa-hands-wash"></i> Beneficial for skin and hair health.</li>
            </ul>
        </div>
    </div>
    <section class="mission-section">
    <h2>Our Mission</h2>
    <p>
        At Bishankhu Mustard Oil, our mission is to provide pure, quality mustard oil at wholesale prices while preserving the traditional art of oil milling.</p><p> We are committed to delivering healthy oil to every household in Nepal, with a focus on quality, sustainability, and the well-being of our community.
    </p>
</section>
    <section class="about-us">
    <div class="about-text">
        <h2>About Us</h2>
        <p>
            Bishankhu Mustard Oil delivers pure, flavorful oil from carefully selected seeds, processed in our traditional mill for rich aroma and top quality.</p>
            <p>Located in Badey Gaun, our mill was started by our grandfather and has preserved traditional methods for generations, making Bishankhu Mustard Oil a trusted local name.
        </p>
        
        
    </div>
    <div class="about-imagee">
        <img src="{% static 'oil.jpg' %}" alt="Bishankhu Mustard Oil Bottle">
    </div>
</section>

    <section class="logo-section">
    <div class="logo-container">
        <div class="logo-item">
            <img src="{% static 'natural-removebg-preview.png' %}" alt="Quality Icon">
            <h3>100% Natural</h3>
            <p>Pure mustard seeds, cold-pressed to retain full aroma and nutrients.</p>
        </div>
        <div class="logo-item">
            <img src="{% static 'no-removebg-preview.png' %}" alt="Traditional Icon">
            <h3>No Added Preservatives</h3>
            <p>Free from chemicals—just wholesome, natural mustard oil.</p>
        </div>
        <div class="logo-item">
            <img src="{% static 'premium-removebg-preview.png' %}" alt="Trust Icon">
            <h3>Premium Quality</h3>
            <p>Crafted with care to deliver rich flavor and trusted purity.</p>
        </div>
    </div>
</section>


    

{% endblock %}