{% extends './navbar.html' %}
{% load static %}

{% block title %}Mustard Oil Services | Swet Barahai Tel Mill - Bishankhu{% endblock %}

{% block content %}
<h2>Our Mustard Oil Services</h2>
    <div class="service-container">
        <div class="caption-left">
            <p class="image-caption">Bring us mustard seeds</p>
            <p class="image-caption">and we will provide you with</p>
            <p class="image-caption">high-quality mustard oil</p>
            <p class="image-caption">made from them.</p>
        </div>
        <img src="{% static 'phul.jpg' %}" alt="Mustard Seeds">
        <div class="caption-right">
            <p class="image-captionn">Available from 7 AM to 7 PM</p>
            <p class="image-captionn">We ensure quick and efficient</p>
            <p class="image-captionn">service so you can get your</p>
            <p class="image-captionn">oil within the same day.</p>
        </div>
    </div>

    <section style="margin:60px auto;" class="about-us">
    <div class="about-text">
        <h2>Pricing</h2>
        <p>
            The cost of processing tori (mustard) is ₹25 per kilogram. If you leave the pina (seed cake) with us, there will be no extra charge. You can bring your seeds and have the oil made without any additional cost.
        </p>
        <p>
           
        </p>
        <button class="buy-now">Call us</button>
    </div>
    <div class="about-imagee">
        <img src="{% static 'oil.jpg' %}" alt="Bishankhu Mustard Oil Bottle">
    </div>
</section>
    <h9>Swet Barahai Tel Mill</h9>
{% endblock %}